.header-content-achoo{
    height: 220px;
    background: #827161;
}
.navbar-content-achoo{
    background-image: url('../img-achoo/navbar-content.jpg');
    height: 117px;
    width: 100%;
    margin-top: -20px;
    padding-left: 30px;
    padding-top: 5px;
}
.navbar-font-achoo{
    font-family: "Montserrat medium";
    font-size: 14px;
    color: #94bf89;
}
.navbar-font-active-achoo{
    font-family: "Montserrat medium";
    font-size: 14px;
    color: #ffffff;
}
.navbar-font-title-achoo{
    font-family: "Montserrat SemiBold";
    color: #ffffff;
    font-size: 48px;
    margin-top: -20px;
}
.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}