/* STYLE MY ACCOUNT */
.header-content-achoo{
    height: 220px;
    background: #827161;
}
.footer-content-achoo{
    height: 220px;
}
.navbar-content-achoo{
    background-image: url('../img-achoo/navbar-content.jpg');
    height: 117px;
    width: 100%;
    margin-top: -20px;
    padding-left: 30px;
    padding-top: 5px;
}
.navbar-font-achoo{
    font-family: "Montserrat medium";
    font-size: 14px;
    color: #94bf89;
}
.navbar-font-active-achoo{
    font-family: "Montserrat medium";
    font-size: 14px;
    color: #ffffff;
}
.navbar-font-title-achoo{
    font-family: "Montserrat SemiBold";
    color: #ffffff;
    font-size: 48px;
    margin-top: -20px;
}
.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}
.my-account-main-achoo{
    padding-top: 40px;
    padding-left: 50px;
}
.my-account-title-achoo{
    font-family: "Montserrat SemiBold";
    color: #5a4a3b;
    font-size: 36px;
}
.line-img-achoo{
    background-image: url('../img-achoo/line.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 440px;
    height: 20px;
}
.my-account-form-space-achoo{
    height: 30px;
}
.my-account-form-font-achoo{
    font-family: "Montserrat regular";
    font-size: 14px;
    height: 52px;
    width: 440px;
    margin-top: 20px;
}
.my-account-form-check-achoo{
    font-family: "Montserrat medium";
    font-size: 14px;
    color: #8e8b88;
    margin-top: 20px;
}
.my-account-button-submit-achoo{
    font-family: "Montserrat SemiBold";
    font-size: 18px;
    background-color: #549843;
    border: #549843;
    width: 440px;
    height: 57px;
}
input.asterisk{
    background-image: url("../img-achoo/asterisk.png");
    background-repeat: no-repeat;
    background-position: right top;
}

/* STYLE ADD-TO-CART */
.add-to-cart-table-padding-achoo{
    padding: 0px 30px;
}
.add-to-cart-table-border-achoo{
    border: 3px solid #dbdbdb;
    margin-left: auto;
    margin-right: auto;
}
.add-to-cart-img-products-achoo{
    width: 100px;
    height: 100px;
}
.add-to-cart-table-font-header-achoo{
    font-family: "Montserrat SemiBold";
    color: #5a4a3b;
    font-size: 15px;
}
.add-to-cart-table-font-row-achoo{
    font-family: "Montserrat";
    color: #4a4642;
    font-size: 14px;
    border: 3px solid #dbdbdb;
    box-shadow: 1px 5px 10px #dbdbdb;
}
.add-to-cart-table-quantity-achoo{
    font-family: "Montserrat";
    color: #4a4642;
    font-size: 14px;
    padding-top: 10px;
    width: 50%;
}
.add-to-cart-table-btn-next-achoo{
    background-image: url('../img-achoo/next-button.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    font-family: "Montserrat SemiBold";
    font-size: 13px;
    color: #5a4a3b;
    width: 130%;
    border: 2px solid #dbdbdb;
}
.add-to-cart-table-coupon-font-achoo{
    font-family: "Montserrat SemiBold";
    font-size: 24px;
    background-color: #d9d5d2;
}
.add-to-cart-table-coupon-input-achoo{
    border: 2px solid #ffffff;
    background: #d9d5d2;
}
.add-to-cart-table-coupon-col-1-achoo{
    width: 20%;
}
.add-to-cart-table-coupon-col-2-achoo{
    width: 60%;
    padding: 0px 10px;
}
.add-to-cart-table-coupon-col-3-achoo{
    width: 20%;
}
.add-to-cart-table2-font-header-achoo{
    font-family: "Montserrat SemiBold";
    color: #5a4a3b;
    font-size: 15px;
    border: 3px solid #dbdbdb;
    box-shadow: 1px 5px 10px #dbdbdb;
}
.add-to-cart-table2-font-form-achoo{
    font-family: "Montserrat";
    color: #5a4a3b;
    font-size: 14px;
}
.add-to-cart-checkout-background-achoo{
    background: #ece8e6;
}
.add-to-cart-checkout-font1-achoo{
    font-family: "Montserrat";
    color: #4a4642;
    font-size: 14px;
}
.add-to-cart-checkout-font2-achoo{
    font-family: "Montserrat SemiBold";
    color: #4a4642;
    font-size: 18px;
}